{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<section class="flex-center" />
<div class="container-wider" />
<div class="flex-left flex-wrap " style="margin-top: 60px" />
 <form id="editorForm" method="post" action="{% url 'blog:editor' %}">
     {% csrf_token %}
<!--页面主体框-->
<div class="BNE_content BNE_editor" id="BNE_editor">
  <div class="editor_tit">
	  {{ form.title }}
	  {{ form.title.errors }}
  </div>
  <div class="editor_txt" >
	  {{ form.body }}
	{{ form.body.errors }}
  </div>
  <!--增加隐藏的textarea 为了提交-->


  <!--编辑器的高度是根据内容的高度进行增加-->
</div>
<div class="BNE_operation">
  <div class="BNE_content">
    <div class="BNE_choice">
    <label>{{ form.category.label }}</label>
        {{ form.category}}
    </div>
      <div class="BNE_choice">
      <button class="btn mt-0" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> 发博文</button>
      </div>
  </div>

<div class="sinafooter sinafooter2">
<div class="sinablogfooter">
</div>
</div>
</div>
  </form>
 <script type="text/javascript">
	var scope = {
		$uid : "3926116155",
		$needbind: "0",
		$uhost : "",
		$PRODUCT_NAME : "blog7",        //blog7photo,blog7icp
		$pageid : "editor_new_publish",
		$setDomain : false,
		$is_photo_vip : 1,
		$user_channel : 0,
		$topic_channel : 0,
		$topic_id : 0,
		$newFontFamily : 1,
		$private : {"pageset":0,"tj":0,"adver":0,"sms":0,"ad":0,"blogsize":0,"cms":0,"hidecms":0,"top":0,"invitationset":0,"p4p":0,"spamcms":0,"init7":1,"quote":0,"foot":0,"headpic":0,"isMsnLink":0,"msnfeed":"000","isMsnMove":0,"isprivate":"1","t_sina":"3926116155","oauth_token":"0a18de78863fe1a17fedf215cf8d81e5","oauth_token_secret":"e5f344aa7f3ab7b44115854c3e314dfb","uname":"","p_push_t":"1","p_get_t":"1"},
		$ssoUseUrl : "0",
		$pic_encrypt: "JBaZUU2nalo8uawnnaululluZnu=lZ7!wl5WUu5=o!Iotl&UuloE",
		$token:"d00f0c815a6ce8080fa5ad452a0d4a5f",
		$vipsign:"0c3f415ba1feec3ddf1d94062b0f4941"
	};
	var __SINAPRO__ = "";
	var $pic_encrypt = "JBaZUU2nalo8uawnnaululluZnu=lZ7!wl5WUu5=o!Iotl&UuloE";

	var articleEditorCFG = {
		/**
		 * 系统提供的Tag分类
		 * user为用户使用过的tag列表
		 * hot为系统提供的热门tag列表
		 * {Object}
		 *  {Array}
		 *  {Array}
		 */
		articleAllTagList: {
			user: [],
			hot: [{label:"高考", link: "http://blog.sina.com.cn/lm/hotrank/161.html"},{label:"欧洲杯", link: "http://blog.sina.com.cn/lm/hotrank/162.html"},{label:"奥运会", link: "http://blog.sina.com.cn/lm/hotrank/164.html"}],
			tag_Recommend:["奥运会", "暴雨", "高考", "月薪", "油价", "房价"],
			newhot:[{"title":"\u6614\u65e5\u7684\u201c\u6563\u7247\u201d\u8bb0\u5f55","presetTag":"Qing\u8bdd\u9898  \u6563\u7247"}],
			hotTagNick:['育儿','娱乐','星座','文化','体育','时尚','情感','汽车','美食','旅游','军事','教育','健康','股票','房产','财经','历史','收藏','时评','佛学','图片','IT'],
			hotTagNum:{'育儿':'125','娱乐':'105','星座':'131','文化':'102','体育':'104','时尚':'134','情感':'149','汽车':'130','美食':'108','旅游':'127','军事':'116','教育':'122','健康':'141','股票':'111','房产':'129','财经':'153','历史':'117','收藏':'117','时评':'117','佛学':'117','图片':'117','IT':'113'}
		},
		servertime: "1522144230",
		/**
		 * 本篇文章的tag列表
		 * {String}
		 */
		articleTagList: "",
		blog_tag_list: "",
		is_comment_allow: "{*is_Flag*}", //1允许评论 2不允许评论
		is_private_blog: "{*is_simi_Flag*}", //1私密文章 0、null不私密文章
		can_reprint: "{*is_quote_Flag*}", //1允许转载 2不允许转载

		tagPostURL: "http://interface.blog.sina.com.cn/api/get_blog_tag.php",
		articlePreviewURL: "http://control.blog.sina.com.cn/myblog/htmlsource/article_preview_new.php",
		// 新发->草稿
		articlePostTempURL: "http://control.blog.sina.com.cn/admin/article/article_post.php?act=3",
		// 新发->发表
		// 编辑->保存
		articlePostURL: "http://control.blog.sina.com.cn/admin/article/article_post.php",
		// 编辑草稿->草稿
		articleEditPostTempURL: "http://control.blog.sina.com.cn/admin/article/article_edit_post.php?act=3",
		// 编辑草稿->发表
		articleEditPostURL: "http://control.blog.sina.com.cn/admin/article/article_edit_post.php",
		articleStatus: "1",
		worldcupPics: 0,
		articleAssociate: {"total":1,"cates":{"32768":{"count":0,"name":"\u8d2d\u559c\u6b22","id":"32768"}}},
		articleAssociateHistory: [],
		articleBGMHistory: '',
		articlevData: null,
		articleActivity: null,
		articleClassID: null

	};
	</script>
	<script type="text/javascript" src="{% static 'blog/js/boot.js' %}"></script>
	<script type="text/javascript">__load_js();</script>
	<script type="text/javascript">__render_page();</script>
	<script type="text/javascript" src="{% static 'blog/js/blog680-min.js' %}"></script>
	<script type="text/javascript">
        var slotArr = ['loginBarActivity']; //广告位id
        var sourceArr = ['SLOT_43,SLOT_47,SLOT_48'];  //广告资源id
        SinaBlog680.staticBox(slotArr, sourceArr);
	</script>

{% endblock main %}