{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
<section class="flex-center" />
<div class="container-wider" />
<div class="flex-left flex-wrap " style="margin-top: 60px" />
 <form id="editorForm" method="post" action="{% url 'blog:editor' %}">
     {% csrf_token %}
<!--页面主体框-->
<div class="BNE_content BNE_editor" id="BNE_editor">
  <div class="editor_tit">
	  {{ form.title }}
	  {{ form.title.errors }}
  </div>
  <div class="editor_txt" >
	  {{ form.body }}
	{{ form.body.errors }}
  </div>
  <!--增加隐藏的textarea 为了提交-->


  <!--编辑器的高度是根据内容的高度进行增加-->
</div>
<div class="BNE_operation">
  <div class="BNE_content">
    <div class="BNE_choice">
    <label>{{ form.category.label }}</label>
        {{ form.category}}
    </div>
      <div class="BNE_choice">
      <button class="btn mt-0" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i> 发博文</button>
      </div>
  </div>

<div class="sinafooter sinafooter2">
<div class="sinablogfooter">
</div>
</div>
</div>
  </form>
{% endblock main %}